body {
  padding: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.search {
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
  padding: 2px 0;
}

.button {
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 600;
}

.completed,
.todos {
  padding: 5px 10px;
  border: 1px solid blue;
  border-radius: 10px;
  margin-top: 10px;
}

.todo {
  width: 80%;
  display: flex;
  margin: 10px 0;
}

.todo > input {
  flex: 1 1 50px;
}
.todo > span {
  flex: 2 2 150px;
}

#add-todo {
  margin-top: 10px;
}

#add-todo input {
  padding: 5px;
}

#add-todo button {
  margin-left: 10px;
  padding: 5px;
}
